body {
    width: 400px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    height: auto;
}

.container {
    width: 100%;
    background: white;
    padding: 10x;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* max-width: 700px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a3c0c1;
    /* background-image: url('icon.png');
    background-size: cover; */
}

h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    /* margin-top: 10px; */
    margin: 10px 0;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

.notification {
    display: none;
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}